 <!DOCTYPE html>
<html>
	<head>
		<title>mk88 | Mes projets</title>
		 <meta charset="UTF-8">
		<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
		<meta property="og:locale" content="fr_FR" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Mes projets" />
		<meta property="og:description" content="Mes divers projets tel qu'un bot publiant les articles de jeuxvideo.com sur Mastodon." />
		<meta property="og:url" content="https://mk88.fr/" />
		<meta property="og:site_name" content="Mk88" />
		<meta property="twitter:site" content="https://mk88.fr/"/>
		<meta property="twitter:title" content="mk88 | Mes projets"/>
		<meta property="twitter:description" content="Mes divers projets tel qu'un bot publiant les articles de jeuxvideo.com sur Mastodon."/>
		<meta itemprop="name" content="mk88 | Mes projets"/>
		<meta itemprop="description" content="Mes divers projets tel qu'un bot publiant les articles de jeuxvideo.com sur Mastodon."/>
		<link href="https://cdn.jsdelivr.net/npm/font-awesome@4.x/css/font-awesome.min.css" rel="stylesheet">

		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://unpkg.com/vue-i18n@9.9.1/dist/vue-i18n.global.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.1.8/dist/vuetify.min.css">
		<script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.8/dist/vuetify.min.js"></script>
		<style>
		.s-mobile:not(:first-child) {
			margin-top: 20px;
		}
		.v-toolbar.v-theme--dark, .v-card.v-theme--dark {
			border-bottom: solid 0.1em aquamarine;
		}
		</style>
	</head>
	<body>
		<div id="app">
			<v-card>
				   <v-layout> <!--fa-solid fa-sun!-->
				      <v-app-bar :title="$t('message.title')">
						  <div class="locale-changer">
							  <select v-model="$i18n.locale" @change="updateLocale()">
								  <option v-for="locale in $i18n.availableLocales" :key="`locale-${locale}`" :value="locale">{{ locale }}</option>
							  </select>
						  </div>
						  <span style="margin-right: 10px;"></span>
					  <v-btn id="menu-activator" icon="">
						  <?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15.88px" height="12.593px" viewBox="0 0 122.88 80.593" enable-background="new 0 0 122.88 80.593" xml:space="preserve"><g><polygon points="122.88,0 122.88,30.82 61.44,80.593 0,30.82 0,0 61.44,49.772 122.88,0"/></g></svg>
					  </v-btn>
				      <v-btn icon="" @click="toggle_theme">
				      <svg v-if="theme_dark == false" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M375.7 19.7c-1.5-8-6.9-14.7-14.4-17.8s-16.1-2.2-22.8 2.4L256 61.1 173.5 4.2c-6.7-4.6-15.3-5.5-22.8-2.4s-12.9 9.8-14.4 17.8l-18.1 98.5L19.7 136.3c-8 1.5-14.7 6.9-17.8 14.4s-2.2 16.1 2.4 22.8L61.1 256 4.2 338.5c-4.6 6.7-5.5 15.3-2.4 22.8s9.8 13 17.8 14.4l98.5 18.1 18.1 98.5c1.5 8 6.9 14.7 14.4 17.8s16.1 2.2 22.8-2.4L256 450.9l82.5 56.9c6.7 4.6 15.3 5.5 22.8 2.4s12.9-9.8 14.4-17.8l18.1-98.5 98.5-18.1c8-1.5 14.7-6.9 17.8-14.4s2.2-16.1-2.4-22.8L450.9 256l56.9-82.5c4.6-6.7 5.5-15.3 2.4-22.8s-9.8-12.9-17.8-14.4l-98.5-18.1L375.7 19.7zM269.6 110l65.6-45.2 14.4 78.3c1.8 9.8 9.5 17.5 19.3 19.3l78.3 14.4L402 242.4c-5.7 8.2-5.7 19 0 27.2l45.2 65.6-78.3 14.4c-9.8 1.8-17.5 9.5-19.3 19.3l-14.4 78.3L269.6 402c-8.2-5.7-19-5.7-27.2 0l-65.6 45.2-14.4-78.3c-1.8-9.8-9.5-17.5-19.3-19.3L64.8 335.2 110 269.6c5.7-8.2 5.7-19 0-27.2L64.8 176.8l78.3-14.4c9.8-1.8 17.5-9.5 19.3-19.3l14.4-78.3L242.4 110c8.2 5.7 19 5.7 27.2 0zM256 368a112 112 0 1 0 0-224 112 112 0 1 0 0 224zM192 256a64 64 0 1 1 128 0 64 64 0 1 1 -128 0z"/></svg>
				      <svg v-else xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"/></svg>
					</v-btn>
					</v-app-bar>
				      <!--<v-navigation-drawer>
					<v-list>
					  <v-list-item title="Navigation drawer"></v-list-item>
					</v-list>
				      </v-navigation-drawer>!-->

				      <v-main style="min-height: 300px;">
				      <v-container class="fill-height align-center justify-center">
				      	<v-card width="400" style="margin-right: 20px;"
					  :title="$t('message.jeuxvideo_dot_com_title')"
					  subtitle="mastodon"
					  :text="$t('message.jeuxvideo_dot_com')"
					>
					   <v-card-actions>
					      <v-btn href="https://h4.io/@jvcom" target="_blank">{{ $t("message.link") }}</v-btn>
					    </v-card-actions>
					</v-card>

					<v-card :class="[isActive ? 's-mobile' : '']" width="400" style="margin-right: 20px;"
					  :title="$t('message.video_games')"
					  subtitle="itch.io"
					  :text="$t('message.text_video_games')"
					>
						<v-card-actions>
							<v-btn href="https://mark0x.itch.io/" target="_blank">{{ $t("message.link") }}</v-btn>
						</v-card-actions>
					</v-card>

					<v-card :class="[isActive ? 's-mobile' : '']" class="border-up" width="400" style="margin-right: 20px; margin-top: 20px;"
					  :title="$t('message.my_mods_title')"
					  :subtitle="$t('message.my_mods')"
					  :text="$t('message.text_my_mods')"
					>
						<v-card-actions>
							<v-btn href="https://modrinth.com/user/mark0x1" target="_blank">{{ $t("message.link") }}</v-btn>
							<v-btn href="https://www.planetminecraft.com/member/mark0x/" target="_blank">{{ $t("message.link") }}</v-btn>
							<v-btn href="https://www.moddb.com/members/mark0x" target="_blank">{{ $t("message.link") }}</v-btn>
						</v-card-actions>
					</v-card>

					<v-card :class="[isActive ? 's-mobile' : '']" class="border-up" width="400" style="margin-right: 20px; margin-top: 20px;"
					  title="Gitlab"
					  :subtitle="$t('message.gitlab_subtitle')"
					  :text="$t('message.text_gitlab')"
					>
						<v-card-actions>
							<v-btn href="https://gitlab.com/m-k88/" target="_blank">{{ $t("message.link") }}</v-btn>
						</v-card-actions>
					</v-card>

					<v-card :class="[isActive ? 's-mobile' : '']" class="border-up" width="400" style="margin-right: 20px; margin-top: 20px;"
					  :title="$t('message.music_title')"
					  :text="$t('message.music_desc')"
					>
						<v-card-actions>
							<v-btn href="https://soundcloud.com/prod_markus/" target="_blank">{{ $t("message.link") }}</v-btn>
							<v-btn href="https://www.youtube.com/channel/UCixavLzAoz9NzCXp0KuJrSQ" target="_blank">{{ $t("message.link") }}</v-btn>
						</v-card-actions>
					</v-card>

					<v-menu activator="#menu-activator">
						<v-list>
          <v-list-item
            :title="$t('message.my_mods_title')" v-html="$t('message.my_mods')"
          >
          </v-list-item>
        </v-list>
					  <v-divider></v-divider>
				      <v-list>
				        <v-list-item
				          v-for="(item, index) in items"
				          :key="index"
				          :value="index"
						  :href="item.link"
						  target="_blank"
				        >
				          <v-list-item-title>{{ $t(item.title) }}</v-list-item-title>
				        </v-list-item>
				      </v-list>
				    </v-menu>
					<div style="position: fixed; margin-top: 700px;">
						<v-btn icon="" href="https://www.youtube.com/channel/UCd8eYX6vTIW-k5W1-P0rmng" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="48px" height="48px"><path fill="#FF3D00" d="M43.2,33.9c-0.4,2.1-2.1,3.7-4.2,4c-3.3,0.5-8.8,1.1-15,1.1c-6.1,0-11.6-0.6-15-1.1c-2.1-0.3-3.8-1.9-4.2-4C4.4,31.6,4,28.2,4,24c0-4.2,0.4-7.6,0.8-9.9c0.4-2.1,2.1-3.7,4.2-4C12.3,9.6,17.8,9,24,9c6.2,0,11.6,0.6,15,1.1c2.1,0.3,3.8,1.9,4.2,4c0.4,2.3,0.9,5.7,0.9,9.9C44,28.2,43.6,31.6,43.2,33.9z"/><path fill="#FFF" d="M20 31L20 17 32 24z"/></svg>
						</v-btn>
						<v-btn icon="" href="https://peertube.otakufarms.com/c/mark0x/videos">
							<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m3 0v12l9-6zm0 12v12l9-6zm9-6v12l9-6z"/></svg>
						</v-btn>
						<v-btn icon="" href="https://t.me/mark0x" target="_blank" style="margin-left: 10px;">
							<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="48px" height="48px"><circle cx="24" cy="24" r="21" fill="#74cccf"/><path fill="none" stroke="#010101" stroke-miterlimit="10" d="M45.051,24c0,3.826-1.069,7.415-2.857,10.504 c-1.844,3.187-4.305,6.189-7.492,8.033c-3.089,1.787-6.877,2.871-10.702,2.871c-3.826,0-7.567-1.165-10.656-2.952 c-3.187-1.844-5.847-4.677-7.69-7.864C3.867,31.503,3.378,27.826,3.378,24c0-3.826,0.68-7.393,2.467-10.482 c1.844-3.187,4.366-6.038,7.553-7.882C16.487,3.849,20.174,3.188,24,3.188c3.826,0,7.371,0.906,10.46,2.694 c3.187,1.844,5.545,4.627,7.389,7.814C43.636,16.785,45.051,20.174,45.051,24z"/><path fill="#d6e5e5" d="M17.689,26.814c0.492,1.906,1.089,3.785,1.785,5.626c0.151,0.399,0.366,0.85,0.782,0.946	c0.367,0.084,0.725-0.152,1.02-0.386c0.846-0.672,1.616-1.439,2.292-2.282c1.123,0.936,2.304,1.808,3.427,2.744	c0.437,0.364,0.884,0.734,1.414,0.94c0.53,0.205,1.168,0.22,1.635-0.104c0.321-0.222,0.525-0.574,0.692-0.927	c0.364-0.765,0.633-1.572,0.833-2.395c0.8-3.306,0.851-6.256,2.324-9.936c0.473-1.182,0.572-2.491,0.653-3.76	c0.048-0.748-0.541-1.378-1.289-1.408c-0.89-0.036-1.761,0.193-2.619,0.451c-6.127,1.842-11.582,4.246-17.015,6.668	c-0.505,0.225-1.044,0.413-1.436,0.803c-0.221,0.22-0.397,0.518-0.365,0.828c0.058,0.568,0.716,0.837,1.268,0.98	C14.627,26,16.133,26.517,17.689,26.814z"/><polygon fill="#bcbcbc" points="20.843,28.309 20.539,33.213 23.569,30.717"/><path fill="none" stroke="#010101" stroke-linejoin="round" stroke-miterlimit="10" d="M20.721,28.01	c1.109,1.117,2.262,2.191,3.455,3.219"/><polygon fill="#bcbcbc" points="18.264,26.388 29.64,18.955 30.146,19.41 21.197,27.652 20.792,28.916 20.135,33.163 17.758,27.197"/><path fill="none" stroke="#010101" stroke-linejoin="round" stroke-miterlimit="10" d="M17.689,26.814	c0.492,1.906,1.089,3.785,1.785,5.626c0.151,0.399,0.366,0.85,0.782,0.946c0.367,0.084,0.725-0.152,1.02-0.386	c0.846-0.672,1.616-1.439,2.292-2.282c1.123,0.936,2.304,1.808,3.427,2.744c0.437,0.364,0.884,0.734,1.414,0.94	c0.53,0.205,1.168,0.22,1.635-0.104c0.321-0.222,0.525-0.574,0.692-0.927c0.364-0.765,0.633-1.572,0.833-2.395	c0.8-3.306,0.851-6.256,2.324-9.936c0.473-1.182,0.572-2.491,0.653-3.76c0.048-0.748-0.541-1.378-1.289-1.408	c-0.89-0.036-1.761,0.193-2.619,0.451c-6.127,1.842-11.582,4.246-17.015,6.668c-0.505,0.225-1.044,0.413-1.436,0.803	c-0.221,0.22-0.397,0.518-0.365,0.828c0.058,0.568,0.716,0.837,1.268,0.98C14.627,26,16.133,26.517,17.689,26.814z"/><path fill="none" stroke="#010101" stroke-linejoin="round" stroke-miterlimit="10" d="M17.689,26.814	c3.357-2.222,6.437-4.187,9.794-6.409c0.695-0.46,2.562-1.753,2.87-1.262c0.411,0.654-6.383,5.935-9.624,8.879	c-0.164,1.727-0.287,3.459-0.37,5.192"/></svg>
						</v-btn>
					</div>
					</v-container>
				      </v-main>
				    </v-layout>
			</v-card>
		</div>
		<script>
		const { createApp } = Vue
		const { createVuetify, useLocale } = Vuetify
		const { createI18n, useI18n } = VueI18n

		const messages = {
			fr: {
  				message: {
  				      title: 'mk88 : Mes projets',
  					  link: 'lien',
  					  video_games: 'Jeux vidéos',
  					  text_video_games: 'Mes petits jeux',
  					  my_mods_title: 'Minecraft mods',
  					  my_mods: 'Mes mods',
  					  text_my_mods: "Les mods que j'ai créés pour Minecraft",
  					  gitlab_subtitle: 'source de mes projets',
  					  text_gitlab: 'Le code de certain de mes projets sont disponible sur gitlab.',
  					  camman18yt_mod: 'Étiquette de Camman18YT',
  					  jeuxvideo_dot_com_title: "Jeuxvideo.com bot",
  					  jeuxvideo_dot_com: "Ce bot rediffuse les articles provenant du site jeuxvideo.com sur mastodon.",
					  music_title: "Mes musiques",
					  music_desc: "Les musiques que j'ai réalisées."
  				  }
  		  },
		  en: {
				message: {
				      title: 'mk88 : My projects',
					  link: 'link',
					  video_games: 'Video games',
					  text_video_games: 'My small games',
					  my_mods_title: 'Minecraft mods',
					  my_mods: 'My mods',
					  text_my_mods: "Mods I've created for Minecraft",
					  gitlab_subtitle: 'source of my projects',
					  text_gitlab: 'The code for some of my projects is available on gitlab.',
					  camman18yt_mod: "Camman18YT's nametag",
					  jeuxvideo_dot_com_title: "Jeuxvideo.com bot",
					  jeuxvideo_dot_com: "This bot rebroadcasts articles from jeuxvideo.com on mastodon.",
					  music_title: "My musics",
					  music_desc: "The musics i've made."
				  }
		  },
  		  eu: {
  				message: {
  				      title: 'mk88 : Nire proiektuak',
  					  link: 'esteka',
  					  video_games: 'Bideojokoak',
  					  text_video_games: 'Nire jolas txikiak',
  					  my_mods_title: 'Minecraft modak',
  					  my_mods: 'Nire modak',
  					  text_my_mods: "Minecrafterako sortu ditudan modak",
  					  gitlab_subtitle: 'nire proiektuen iturria',
  					  text_gitlab: 'Nire proiektu batzuen kodea gitlab-en dago eskuragarri.',
  					  camman18yt_mod: 'Camman18YT etiketa',
  					  jeuxvideo_dot_com_title: "Jeuxvideo.com bot",
  					  jeuxvideo_dot_com: "Bot honek mastodon-en jeuxvideo.com guneko artikuluak berriro igortzen ditu.",
					  music_title: "Nire musikak",
					  music_desc: "Egindako musikak."
  				  }
  			}/*,
			oz: {
				message: {
					  title: 'mk88 : Nes qazas',
					  link: 'mink',
					  video_games: 'Jozas videos',
					  text_video_games: 'Nes heto jozas',
					  my_mods_title: 'Minecraft mods',
					  my_mods: 'Nes mods',
					  text_my_mods: "Uzo modas qip zi romas udon Minecraft",
					  gitlab_subtitle: 'sorce ni nes qazas',
					  text_gitlab: 'Uzo kode luman ni nes qazas lam qom noz gitlab.',
					  camman18yt_mod: 'Etiketa ni Camman18YT',
					  jeuxvideo_dot_com_title: "Jeuxvideo.com bot",
					  jeuxvideo_dot_com: "uk bot yomad uzo artiklas belika ku sita jeuxvideo.com noz mastodon."
				  }
			  }*/
		}

		const i18n = createI18n({
			legacy: false,
			locale: 'fr',
			fallbackLocale: 'en',
			messages
		})

		const vuetify = createVuetify({ theme: true });

		const app = createApp({
			setup() {
				return {
					//t: useI18n(),
					theme_dark: true,
					isActive: false,
					items: []
				}
			},
			mounted () {
      				//console.log(this.$vuetify.display.mobile)
      				const th = localStorage.getItem("theme");
      				//console.log(th);
      				if(th != null && th != "") {
      					vuetify.theme.global.name.value = !th ? 'light' : 'dark';
      					this.theme_dark = !th;
      				}

					if(navigator.language.includes("-")) {
						var lang = navigator.language.split("-")[0]
						if(lang != null) {
							this.changeLocale(lang);
						}
					} else {
						this.changeLocale(navigator.language);
					}

      				this.isActive = this.isMobile();

					//this.updateLocale();
				window.addEventListener("resize", function(e) {
					console.log(e);
					this.isActive = screen.width <= 770;
					console.log("isActive: "+this.isActive);
					document.getEelement
				})
      				//vuetify.theme.global.name.value = this.theme_dark ? 'light' : 'dark';
      				//console.log(this.theme_dark);
    			},
    			methods: {
					updateLocale() {
						this.items = [{ title: this.$t("message.camman18yt_mod"), link: "https://modrinth.com/mod/camman18yts-nametag" }]
					},
    				//funtion_name() {}
    				isMobile() { return screen.width <= 770; },
    				toggle_theme() {
    					this.theme_dark = !this.theme_dark
    					//console.log(this.theme_dark);
    					vuetify.theme.global.name.value = this.theme_dark ? 'light' : 'dark';
    					localStorage.setItem("theme", this.theme_dark);
    				},
					changeLocale (locale) {
						i18n.global.locale.value = locale
						this.updateLocale()
					}
    			}
   		 });
		app.use(vuetify).use(i18n).mount('#app');
		</script>
		<noscript>
			Enable javascript to see the website.
			Active javascript pour voir le site.
			Gaitu javascript gunea ikusteko.
		</noscrip>
	</body>
</html>
